<h3>Let's edit a Forum!</h3>
<a href="/">Back</a>


<form action="/edit_contact/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="first_name">Summoner Name</label>
  <input type="text" id="first_name" name="contact[first_name]" value="<%= @contact.first_name %>">
  <br>
  <label for="last_name">Edit Forum</label>
  <br>
  <textarea name="contact[last_name]" rows="10" cols="50"><%= @contact.last_name %></textarea>
  <br>
  <input type="submit" value="Inform Rito">
</form>






 